/* nav */

@media (min-width: 992px) {
  #intro {
    margin-top: -58.59px;
  }
}

.nav-item {
font-family: 'Chivo', sans-serif;
font-weight: 100;
padding-right: 10px;

}
.nav-link{
  color: white !important;
}
.nav-link:hover {
background-color:rgba(255, 255, 255, 0.4);

border-radius: 10px;
}

.navbar-expand-lg{
  display: flex!important;
  justify-content: space-around;
  flex-basis: auto;
  }
nav{ 
background-color: rgb(21, 21, 123);
}
img{
  width: 50%;
  height: 50%;

nav{ 
background-color: rgb(21, 21, 123);
}
img{
  width: 50%;
  height: 50%;
}




/* main */

/* main */
.main {
  margin-top: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 3px 3px 5px lightgray;
  border-radius: 5px;
  box-shadow: 3px 3px 5px lightgray;
}

label {
  display: inline-block;
  height: 100%;
  margin: 0 20px;
  line-height: 60px;
  font-size: 18px;
  color: gray;
  cursor: pointer;
  transition: color 0.5s;
}

.timeseries {
  max-width: 100%;
  height: auto;
  position: relative;
}

label:hover {
  color: black;
}

.sub-container {
  width: 100%;
  margin: auto;
}

.sub {
  height: 60vh;
  transition: 0.3s;
}

#check1:checked ~ .container .sub-container .converter {
  opacity: 1;
  transform: scale(1);
  position: relative;
  transition: 0.5s;
}

#check1:checked ~ .container .sub-container .timeseries,
#check1:checked ~ .container .sub-container .table {
  transform: scale(0);
  opacity: 0;
  position: absolute;
}

#check2:checked ~ .container .sub-container .timeseries {
  transform: scale(1);
  opacity: 1;
  transition: 0.3s;
}

#check2:checked ~ .container .sub-container .table,
#check2:checked ~ .container .sub-container .converter {
  transform: scale(0);
  opacity: 0;
  position: absolute;
  transition: 0.3s;
}

#check3:checked ~ .container .sub-container .table {
  transform: scale(1);
  opacity: 1;
  position: absolute;
  transition: 0.3s;
}

#check3:checked ~ .container .sub-container .timeseries,
#check3:checked ~ .container .sub-container .converter {
  transform: scale(0);
  opacity: 0;
  position: absolute;
}
